@model List<News_Portal.Models.RSSFeed.RSSFeed>
@if (Model != null && Model.Count > 0)
{

    @*<span class="ion-ios7-timer icon-news pull-left"></span>
    <ul id="js-news" class="js-hidden">
        @foreach (var item in Model)
        {

            <li class="news-item"><a href="~/RSSMaster/RSSChildData?RSSFeedID=@item.RSSFeedID&RSSID=@item.RSSID">@item.Title</a></li>

        }
    </ul>*@
    <div class="col-sm-15">
        <span class="ion-ios7-timer icon-news pull-left"></span>
        <ul id="js-news" class="js-hidden">
                <li class="news-item"><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</a></li>
                <li class="news-item"><a href="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</a></li>
                <li class="news-item"><a href="">Donec quam felis, ultricies nec, pellentesque eu</a></li>
                <li class="news-item"><a href="">Nulla consequat massa quis enim. Donec pede justo, fringilla</a></li>
                <li class="news-item"><a href=""> Donec pede justo, fringilla vel, aliquet nec, vulputate eget ultricies nec, pellentesque</a></li>
                <li class="news-item"><a href="">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo</a></li>
                <li class="news-item"><a href="">Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis </a></li>
            </ul>
    </div>
    <div class="col-sm-1 shuffle text-right"><a href="#"><span class="ion-shuffle"></span></a></div>
}